%html
  %head
    %title New Game Request - Pickup Games
    =haml(:header)
  %body
    #content
      - shouldDisplayParameters = (@parameters != nil) and (not @parameters.empty?)
      - if @errorMessage != nil
        #error
          %strong= @errorMessage
      %br
      %h1 What sport would you like to play?
      %table
        %tr
          %td
            %form{name: 'create_new_game', method: 'post', action: '/new_sports_game_request'}
              %label{for: 'skillLevel'} Skill Level
              %select{name: 'skillLevel', id: 'skillLevel', required: true}
                - for skillLevel in %w[beginner intermediate advanced] do
                  - if shouldDisplayParameters and (skillLevel == @parameters[:skillLevel])
                    %option{value: skillLevel, selected: true}= skillLevel.capitalize
                  - else
                    %option{value: skillLevel}= skillLevel.capitalize

              %label{for: 'sportID'} Sport Type
              %select{name: 'sportID', id: 'sportID', required: true}
                - for sportType in @possibleSports do
                  - if shouldDisplayParameters and (sportType == @parameters[:sportType])
                    %option{value: sportType.split.join('-').downcase, selected: true}= sportType
                  - else
                    %option{value: sportType.split.join('-').downcase}= sportType

              %label{for: 'location'} Location
              %select{name: 'location', id: 'location', required: true}
                - for location in @availableLocations do
                  - if shouldDisplayParameters and (location == @parameters[:location])
                    %option{value: location.delete('#').split.join('-').downcase, selected: true}= location
                  - else
                    %option{value: location.delete('#').split.join('-').downcase}= location

              - if shouldDisplayParameters
                - startTime = @parameters[:startTime].strftime("%Y-%m-%dT%H:%M")
              - else
                - startTime = (Time.now + 3600).strftime("%Y-%m-%dT%H:%M")
              %label{for: 'startTime'} Start Time
              %input{name: 'startTime', id: 'startTime', required: true, type: 'datetime-local', min: "#{startTime}", value: "#{startTime}"}
              %input{type: 'submit', value: 'Submit request'}